{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "curly": "error"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "0.14.8"
    }
  }
}